.name {
  padding: 2rem;
  margin: 3rem;
  height: 50px;
  color: var(--white);
  font-size: 4rem;
  text-align: right;
}

.info {
  justify-content: right;
  padding: 2rem;
  margin: 3rem;
  height: 50px;
  color: var(--white);
  font-size: 1.5rem;
  text-align: right;
}

strong {
  color: var(--green-500);
  font-weight: bold;
}
