.header {
  background: var(--gray-800);
  display: flex;
  justify-content: left;
  padding: 1.2rem;
}

.header img {
  padding: 0;
  margin: 0;
  height: 3rem;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-left: 20.5rem;
  text-decoration: none;
  background: transparent;
  color: var(--green-500);
  border: 1px solid var(--green-500);
  border-radius: 8px;
  height: 50px;
  padding: 0 1.5 rem;
  font-weight: bold;
  display: block;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  transition: color 0.2s, background-color 0.2s;
}

li a:hover {
  background: var(--green-500);
  color: var(--white);
}
